{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021, // ES12
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "jest",
    "react", // need for settings
    "@typescript-eslint" // only list rules need to override in rules section
  ],
  "extends": [
    "eslint:recommended", // for js
    "plugin:@typescript-eslint/recommended", // for ts
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended" // this will turn off rules that prettier will handle
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Custom rules or overrides
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-empty-function": 0,
    "no-console": 0, // Means warning
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "_*"
      }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": [
    "build/",
    "node_modules/",
    "*.generated.*", // apollo types
    "coverage/"
  ]
}